{#-

This file is part of Polesian Archive.

Copyright (c) Institute of Slavic Studies of the Russian Academy of Sciences

Polesian Archive is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, version 3.

Polesian Archive is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code. If you have not received
a copy of the GNU General Public License along with Polesian Archive,
see <http://www.gnu.org/licenses/>.

-#}

{% extends 'base.html.twig' %}

{% block title -%}
    {{ parent() }}{{ card.id }}
{%- endblock %}

{% block page_content %}
    {% import _self as self %}

    <table class="table table-bordered">
        <tbody>
            {{ self.format_text_row('village', self.format_village(card.village)) }}
            {{ self.format_text_row('question', self.format_questions(card.questions, questionNumberFormatter)) }}
            {{ self.format_text_row('year', card.year) }}
            {{ self.format_text_row('text', card.text|nl2br) }}
            {{ self.format_text_row('description', card.description) }}
            {{ self.format_text_row('keywords', self.format_collection_of_named_entities('keywords', card.keywords)) }}
            {{ self.format_text_row('terms', self.format_collection_of_named_entities('terms', card.terms)) }}
            {{ self.format_text_row('informers', self.format_collection_of_named_entities('informers', card.informers)) }}
            {{ self.format_text_row('collectors', self.format_collection_of_named_entities('collectors', card.collectors)) }}
        </tbody>
    </table>
{% endblock %}

{%- macro format_village(village) -%}

    {% set villageTranslationData = {
        'village': village.name,
        'raion': village.raion,
        'oblast': village.oblast
    } %}

    {{ 'controller.card.show.card.value.villageRaionAndOblast'|trans(villageTranslationData) }}
{%- endmacro -%}

{%- macro format_questions(questions, questionNumberFormatter) -%}

    {% set formattedQuestions = [] %}

    {% for question in questions %}
        {% set formattedQuestions = formattedQuestions|merge([questionNumberFormatter.formatQuestion(question)]) %}
    {% endfor %}

    {{ formattedQuestions|join('; ') }}
{%- endmacro -%}

{%- macro format_collection_of_named_entities(key, collection) -%}

    {% set formattedEntities = [] %}

    {% for entity in collection %}
        {% set formattedEntities = formattedEntities|merge([entity.name]) %}
    {% endfor %}

    {{ formattedEntities|join(', ') }}
{%- endmacro -%}

{%- macro format_text_row(labelTranslationKey, content) -%}
    {% import _self as self %}

    {{ self.fill_row(('controller.card.show.card.label.' ~ labelTranslationKey)|trans, content|default('-')) }}
{%- endmacro -%}

{%- macro fill_row(thContent, tdContend) -%}
    <tr>
        <th scope="row">{{ thContent|raw }}</th>
        <td>{{ tdContend|raw }}</td>
    </tr>
{%- endmacro -%}
